<div
style="
  height: 50px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
"
>

@if(user(); as user) {
<strong style="margin-right: 7px"> {{ user.first_name }}</strong>
<strong> {{ user.last_name }} </strong>
}

<button (click)="Close()">close</button>
</div>
<form [formGroup]="formGroup" (ngSubmit)="Submit()">
  <div style="margin-top: 4px; margin-bottom: 4px; background-color: azure">
    <label> login </label>
    <input UniqueName [itemId]="userId()" formControlName="username" />
  </div>

  <div style="margin-top: 4px; margin-bottom: 4px; background-color: azure">
    <label> First</label>
    <input formControlName="first_name" />
  </div>
  <div style="margin-top: 4px; margin-bottom: 4px; background-color: azure">
    <label>Last </label>
    <input formControlName="last_name" />
  </div>
  <div style="margin-top: 4px; margin-bottom: 4px; background-color: azure">
    <label>Mail email</label>
    <input type="email" formControlName="email" />
  </div>

  <div passwordConfirm formGroupName="passwordGroup">
    <div style="margin-top: 4px; margin-bottom: 4px; background-color: azure">
      <label>Pass</label>
      <input type="password" formControlName="password" />
    </div>

    <div style="margin-top: 4px; margin-bottom: 4px; background-color: azure">
      <label> Pass confirm </label>
      <input type="password" formControlName="passwordConfirm" />
    </div>
  </div>

  <div style="margin-top: 4px; margin-bottom: 4px; background-color: azure">
    <label> usser type </label>
    <select formControlName="user_type">
      <option value="Admin">Admin</option>
      <option value="Driver">Driver</option>
    </select>
  </div>

  <button type="submit">save</button>
  @if(!!userId()) {
    <button (click)="DeleteUser()">Delete</button>
  }

</form>
