.ui-input {
  border: none;
  outline: none;
  width: 100%;
  font: var(--font-style-normal) normal var(--font-weight-300)
    var(--font-size-13) / var(--line-spacing-16)
    var(--font-family-helvetica);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-3f4254);
  text-align: left;

  height: 46px;
  background-color: var(--color-f3f6f9);
  border-radius: 6px;
  opacity: 1;

  box-sizing: border-box;
  border-radius: 6px;
}

.ui-input.border-danger {
  border: 1px solid var(--color-ef7da0);
}

.no-prefix {
  padding-left: 16px;
}

.container {
  height: 81px;
  width: 100%;
}

.container__content {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 13px;
  padding-left: 0px;
  padding-right: 0px;
}

.helper-toolbar {
  height: 9px;
  padding: 0;
  padding-bottom: 4px;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;

  font: var(--font-style-normal) normal
    var(--font-weight-normal) var(--font-size-13) /
    var(--line-spacing-16) var(--font-family-helvetica);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-3f4254);
}

.helper-toolbar_start {
  justify-content: start;
}

.helper-toolbar_between {
  justify-content: space-between;
}

.pl-4 {
  padding-left: 4px;
}
