body {
  --unnamed-color-f44682: #f44682;
  --unnamed-color-eff0f4: #eff0f4;
  --unnamed-color-f4f5f8: #f4f5f8;
  --unnamed-color-66bb6a: #66bb6a;
  --unnamed-color-ccd2e2: #ccd2e2;
  --unnamed-color-ef7da0: #ef7da0;
  --unnamed-color-a4a4b5: #a4a4b5;
  --unnamed-color-f3f6f9: #f3f6f9;
  --unnamed-color-3f4254: #3f4254;
  --unnamed-color-2e8ff0: #2e8ff0;
  --unnamed-color-ebedf3: #ebedf3;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-eef0f8: #eef0f8;

  /* Font/text values */
  --unnamed-font-family-helvetica: Helvetica;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-300: 300px;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-13: 13px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-16: 16px;
  --unnamed-line-spacing-17: 17px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-text-transform-uppercase: uppercase;
}
